# Scala and sbt
bin/
project/
target/
build/
.ensime/
.ensime
.ensime_cache/
*.class
.metals/

# python
__pycache__
python/env3.6
python/.venv

# eclipse related
scala/.cache-main
scala/.cache-tests
scala/.classpath
scala/.project
scala/.settings/
scala/.worksheet/

# java / eclipse related
java/.classpath
java/.project
java/.settings/

# emacs
*.*#

