# Scala and sbt
bin/
project/
target/
build/
.ensime/
.ensime
.ensime_cache/
*.class

# python
__pycache__

# eclipse related
scala/.cache-main
scala/.cache-tests
scala/.classpath
scala/.project
scala/.settings/
scala/.worksheet/